@import './variables';

button {
  border: solid 1px $white;
  background-color: $white;
  color: $cta-text;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 0;
  border-radius: 2.5rem;
  margin: 0 0.5rem;
  width: 10rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  @media(max-width: 1023px) {
    margin: 0 0.25rem;
    margin-bottom: 0.5rem;
    padding: 1rem 0;
    width: 9rem;
  }

  &:hover {
    background-color: $translucent;
    border: solid 1px transparent;
    color: $white;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
  }

  &.outline {
    background-color: transparent;
    color: $white;

    &:hover {
      background-color: $white;
      color: $cta-bg-light;
    }
  }

  &.no-bg {
    background-color: transparent;
    color: $white;
    border: none;
  }
}
