@import './variables';

footer {
  background-color: $footer-bg;
  color: $footer-text;
  padding: 3rem 9rem;
  border-top-right-radius: 6rem;
  font-family: 'Ubuntu', sans-serif;

  @media(max-width: 1023px) {
    padding: 5rem 0;
  }

  div.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);

    @media(max-width: 1023px) {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;

      img.footer-logo {
        max-width: 8rem;
        margin: 0 auto 3rem;
      }
    }

    div {
      display: flex;
      flex-flow: column nowrap;
      line-height: 2rem;

      @media(max-width: 1023px) {
        margin-bottom: 3rem;
      }

      h3 {
        color: $white;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        font-weight: 500;
      }

      a {
        font-weight: 300;
        letter-spacing: 0;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .attribution {
    margin-top: 3rem;
    font-size: 0.75rem;
    text-align: center;
  }

  .attribution a {
    color: $cta-bg-light;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
