@import 'variables';
@import 'mixins';

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 9rem;

  @media(max-width: 1023px) {
    padding: 3rem 1.5rem;
  }

  img.logo {
    margin-right: 5rem;
  }

  div.hamburger {
    display: none;
    background-image: url('./images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 1rem;
    width: 2rem;

    @media(max-width: 1023px) {
      display: block;
    }
  }

  div.dropdown {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    ul {
      list-style-type: none;
      display: flex;
      flex-flow: row nowrap;
      color: $white;

      li {
        font-family: 'Ubuntu', sans-serif;
        margin-right: 1rem;
        position: relative;

        div.nav-item {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          width: 10rem;
          margin: 0 auto;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }

          &::after {
            content:'';
            display: block;
            height: 0.5rem;
            width: 0.5rem;
            margin: 0 0.75rem;
            background-image: url('./images/icon-arrow-light.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: scaleY(1);
            transition: transform 0.2s ease-in-out;
          }
        }

        ul.nav-item-menu {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          list-style-type: none;
          display: flex;
          flex-flow: column nowrap;
          background-color: $white;
          color: $body-copy;
          border-radius: 0.5rem;
          margin-top: 1rem;
          padding: 1rem;
          transform: scaleY(0);
          transition: transform 0.2s ease-in-out;
          transform-origin: top center;
          box-shadow: 0 0 1rem $shadow;

          li {
            line-height: 2rem;
          }
        }

        &.open {
          div.nav-item::after {
            transform: scaleY(-1);
            transition: transform 0.2s ease-in-out;
          }

          ul.nav-item-menu {
            transform: scaleY(1);
            transition: transform 0.2s ease-in-out;

            li:hover {
              font-weight: 500;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  div.login-buttons {
    @media(max-width: 1023px) {
      border-top: solid 1px $footer-text;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;

      button {
        border: none;
        color: $headings;
        font-size: 1.25rem;

        &.signup {
          background-image: linear-gradient(to right, $cta-bg-light, $cta-bg-dark);
          color: $white;
        }
      }
    }
  }
}

@media(max-width: 1023px) {
  nav {
    div.dropdown {
      position: absolute;
      top: 7rem;
      left: 0;
      display: block;
      width: calc(100% - 2rem);
      margin: 1rem;
      background-color: $white;
      border-radius: 0.25rem;
      padding: 1rem;
      z-index: 3;
      transform: scaleY(0);
    }
  }

  nav.open {
    div.hamburger {
      background-image: url('./images/icon-close.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 2rem;
      width: 2rem;
    }

    div.dropdown {
      transform: scaleY(1);
      box-shadow: 0 0 1rem $shadow;

      ul {
        position: relative;
        display: block;
        padding: 1rem 0;

        li {
          height: auto;
          width: 100%;

          div.nav-item {
            font-family: 'Ubuntu', sans-serif;
            color: $headings;
            font-size: 1.25rem;
            padding: 1rem 0;
            text-decoration: none;
            font-weight: 500;

            &::after {
              content:'';
              display: block;
              height: 0.625rem;
              width: 0.625rem;
              margin: 0 0.375rem;
              background-image: url('./images/icon-arrow-dark.svg');
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              transform: scaleY(1);
              transition: transform 0.2s ease-in-out;
            }
          }

          ul.nav-item-menu {
            position: relative;
            background-color: $footer-text;
            box-shadow: none;
            transform: none;
            text-align: center;
            display: none;

            li {
              font-size: 1.25rem;
              padding: 0.5rem 0;
            }
          }

          &.open {
            div.nav-item {
              color: $body-copy;

              &::after {
                transform: scaleY(-1);
                transition: transform 0.2s ease-in-out;
              }
            }

            ul.nav-item-menu {
              display: block;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}
