$body-bg-dark: hsl(237, 17%, 21%);
$body-bg-light: hsl(237, 23%, 32%);
$body-copy: hsl(207, 13%, 34%);
$cta-text: hsl(356, 100%, 66%);
$cta-bg-dark: hsl(353, 100%, 62%);
$cta-bg-light: hsl(13, 100%, 72%);
$cta-hover-bg: hsl(355, 100%, 74%);
$footer-bg: hsl(240, 10%, 16%);
$footer-text: hsl(240, 2%, 79%);
$headings: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$translucent: rgba(255,255,255,0.25);
$shadow: rgba(0,0,0,0.25);
