*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: solid 1px white;
  background-color: white;
  color: #ff525d;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.75rem 0;
  border-radius: 2.5rem;
  margin: 0 0.5rem;
  width: 10rem;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

@media (max-width: 767px) {
  button {
    margin: 0 0.25rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding: 1rem 0;
    width: 9rem;
  }
}

button:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border: solid 1px transparent;
  color: white;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

button.outline {
  background-color: transparent;
  color: white;
}

button.outline:hover {
  background-color: white;
  color: #ff8f70;
}

button.no-bg {
  background-color: transparent;
  color: white;
  border: none;
}

header {
  background: -webkit-gradient(linear, right top, left top, from(#ff3d54), to(#ff8f70));
  background: linear-gradient(to left, #ff3d54, #ff8f70);
  text-align: center;
  color: white;
  border-bottom-left-radius: 6rem;
  overflow: hidden;
}

@media (max-width: 767px) {
  header {
    background: -webkit-gradient(linear, right bottom, left top, from(#ff3d54), to(#ff8f70));
    background: linear-gradient(to top left, #ff3d54, #ff8f70);
  }
}

header section.cta {
  background: url("./images/bg-pattern-intro.svg");
  background-size: 225%;
  background-position: 25% 52.5%;
  background-repeat: no-repeat;
  height: 40rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  header section.cta {
    background-size: 375%;
    background-position: -23rem 35%;
    background-repeat: no-repeat;
    padding: 4rem 2rem 0;
    height: 36rem;
  }
}

header section.cta h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  header section.cta h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

header section.cta h2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}

footer {
  background-color: #25252d;
  color: #c8c8cb;
  padding: 3rem 9rem;
  border-top-right-radius: 6rem;
  font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 767px) {
  footer {
    padding: 5rem 0;
  }
}

footer div.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
}

@media (max-width: 767px) {
  footer div.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
  }
  footer div.grid img.footer-logo {
    max-width: 8rem;
    margin: 0 auto 3rem;
  }
}

footer div.grid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  line-height: 2rem;
}

@media (max-width: 767px) {
  footer div.grid div {
    margin-bottom: 3rem;
  }
}

footer div.grid div h3 {
  color: white;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

footer div.grid div a {
  font-weight: 300;
  letter-spacing: 0;
}

footer div.grid div a:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer .attribution {
  margin-top: 3rem;
  font-size: 0.75rem;
  text-align: center;
}

footer .attribution a {
  color: #ff8f70;
  text-decoration: none;
}

footer .attribution a:hover {
  text-decoration: underline;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 9rem;
}

@media (max-width: 767px) {
  nav {
    padding: 3rem 1.5rem;
  }
}

nav img.logo {
  margin-right: 5rem;
}

nav div.hamburger {
  display: none;
  background-image: url("./images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 1rem;
  width: 2rem;
}

@media (max-width: 767px) {
  nav div.hamburger {
    display: block;
  }
}

nav div.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

nav div.dropdown ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  color: white;
}

nav div.dropdown ul li {
  font-family: 'Ubuntu', sans-serif;
  margin-right: 1rem;
  position: relative;
}

nav div.dropdown ul li div.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  margin: 0 auto;
}

nav div.dropdown ul li div.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav div.dropdown ul li div.nav-item::after {
  content: '';
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 0.75rem;
  background-image: url("./images/icon-arrow-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

nav div.dropdown ul li ul.nav-item-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: white;
  color: #4b5862;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

nav div.dropdown ul li ul.nav-item-menu li {
  line-height: 2rem;
}

nav div.dropdown ul li.open div.nav-item::after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

nav div.dropdown ul li.open ul.nav-item-menu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

nav div.dropdown ul li.open ul.nav-item-menu li:hover {
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 767px) {
  nav div.login-buttons {
    border-top: solid 1px #c8c8cb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 0;
  }
  nav div.login-buttons button {
    border: none;
    color: #1f3f5b;
  }
  nav div.login-buttons button.signup {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background-image: linear-gradient(to right, #ff8f70, #ff3d54);
    color: white;
  }
}

@media (max-width: 767px) {
  nav div.dropdown {
    position: absolute;
    top: 7rem;
    left: 0;
    display: block;
    width: calc(100% - 2rem);
    margin: 1rem;
    background-color: white;
    border-radius: 0.25rem;
    padding: 1rem;
    z-index: 3;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  nav.open div.hamburger {
    background-image: url("./images/icon-close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 2rem;
    width: 2rem;
  }
  nav.open div.dropdown {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  }
  nav.open div.dropdown ul {
    position: relative;
    display: block;
    padding: 1rem 0;
  }
  nav.open div.dropdown ul li {
    height: auto;
    width: 100%;
  }
  nav.open div.dropdown ul li div.nav-item {
    font-family: 'Ubuntu', sans-serif;
    color: #1f3f5b;
    font-size: 1.25rem;
    padding: 1rem 0;
    text-decoration: none;
    font-weight: 500;
  }
  nav.open div.dropdown ul li div.nav-item::after {
    content: '';
    display: block;
    height: 0.625rem;
    width: 0.625rem;
    margin: 0 0.375rem;
    background-image: url("./images/icon-arrow-dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  nav.open div.dropdown ul li ul.nav-item-menu {
    position: relative;
    background-color: #c8c8cb;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
    text-align: center;
    display: none;
  }
  nav.open div.dropdown ul li ul.nav-item-menu li {
    font-size: 1.25rem;
    padding: 0.5rem 0;
  }
  nav.open div.dropdown ul li.open div.nav-item {
    color: #4b5862;
  }
  nav.open div.dropdown ul li.open div.nav-item::after {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  nav.open div.dropdown ul li.open ul.nav-item-menu {
    display: block;
    margin-bottom: 1rem;
  }
}

body {
  background: white;
  color: #4b5862;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
}

.two-halves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media (max-width: 767px) {
  .two-halves {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
}

.two-halves div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section {
  background-color: white;
  line-height: 1.75rem;
}

@media (max-width: 767px) {
  section div.content {
    text-align: center;
  }
}

section div.content h3 {
  letter-spacing: 0.0625rem;
  color: #1f3f5b;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  section div.content h3 {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
}

section div.content p {
  letter-spacing: 0.0625rem;
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  section div.content p {
    padding: 0 1rem;
  }
}

section.future {
  padding: 18rem 9rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.75rem;
  background-image: url("./images/illustration-editor-desktop.svg");
  background-position: 150% center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  section.future {
    padding: 15rem 0;
  }
}

@media (max-width: 767px) {
  section.future {
    background-image: none;
  }
}

section.future h2 {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: 0;
  height: 18rem;
  text-align: center;
  width: 100%;
}

@media (max-width: 767px) {
  section.future h2 {
    font-size: 1.75rem;
  }
}

section.future div.illustration img {
  display: none;
}

@media (max-width: 767px) {
  section.future div.illustration img {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
  }
}

section.infrastructure {
  position: relative;
  background-color: #2c2d3f;
  background-image: url("./images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: -55% 90%;
  color: white;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
}

@media (max-width: 767px) {
  section.infrastructure {
    background-size: 160%;
    background-position: center -15.5rem;
  }
}

section.infrastructure div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7rem 0;
}

@media (max-width: 767px) {
  section.infrastructure div.content {
    margin: 13rem 0 6rem 0;
  }
}

section.infrastructure div.content h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  section.infrastructure div.content h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

section.infrastructure div.content p {
  letter-spacing: 0.0625rem;
  padding-right: 9rem;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  section.infrastructure div.content p {
    padding: 0 2rem;
  }
}

section.infrastructure div.illustration {
  position: absolute;
  top: -4.5rem;
  left: 6rem;
}

@media (max-width: 767px) {
  section.infrastructure div.illustration {
    top: -12rem;
    left: 0;
  }
  section.infrastructure div.illustration img {
    width: 100%;
  }
}

section.tooling {
  background-image: url("./images/illustration-laptop-desktop.svg");
  background-position: -62% center;
  background-repeat: no-repeat;
  padding: 18rem 3rem;
}

@media (max-width: 767px) {
  section.tooling {
    padding: 3rem 0;
  }
  section.tooling.two-halves {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  section.tooling div.content {
    padding-top: 3rem;
  }
  section.tooling div.content p {
    padding: 0 2rem;
  }
}

section.tooling div.illustration {
  width: 100%;
  overflow: hidden;
}

section.tooling div.illustration img {
  display: none;
}

@media (max-width: 767px) {
  section.tooling div.illustration img {
    display: block;
    width: calc(100% + 8rem);
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
}
/*# sourceMappingURL=index.css.map */