*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: #4b5862;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
}

button {
  border: solid 1px white;
  background-color: white;
  color: #ff525d;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
  border-radius: 2.5rem;
  margin: 0 0.5rem;
  width: 10rem;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border: solid 1px transparent;
  color: white;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

button.outline {
  background-color: transparent;
  color: white;
}

button.outline:hover {
  background-color: white;
  color: #ff8f70;
}

button.no-bg {
  background-color: transparent;
  color: white;
  border: none;
}

header {
  position: relative;
  background: -webkit-gradient(linear, right top, left top, from(#ff3d54), to(#ff8f70));
  background: linear-gradient(to left, #ff3d54, #ff8f70);
  text-align: center;
  color: white;
  border-bottom-left-radius: 6rem;
}

header section.cta {
  background: url("./images/bg-pattern-intro.svg");
  background-size: 225%;
  background-position: 25% 52.5%;
  background-repeat: no-repeat;
  height: 40rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section.cta nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 9rem;
}

header section.cta nav img.logo {
  margin-right: 5rem;
}

header section.cta nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section.cta nav div ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

header section.cta nav div ul li {
  font-family: 'Ubuntu', sans-serif;
  margin-right: 1rem;
  position: relative;
}

header section.cta nav div ul li div.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  margin: 0 auto;
}

header section.cta nav div ul li div.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

header section.cta nav div ul li div.nav-item::after {
  content: '';
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 0.75rem;
  background-image: url("./images/icon-arrow-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header section.cta nav div ul li ul.nav-item-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: white;
  color: #4b5862;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

header section.cta nav div ul li ul.nav-item-menu li {
  line-height: 2rem;
}

header section.cta nav div ul li.open div.nav-item::after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header section.cta nav div ul li.open ul.nav-item-menu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header section.cta nav div ul li.open ul.nav-item-menu li:hover {
  font-weight: 500;
  cursor: pointer;
}

header section.cta h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}

header section.cta h2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}

.two-halves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.two-halves div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section {
  background-color: white;
  line-height: 1.75rem;
}

section div.content h3 {
  letter-spacing: 0.0625rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

section div.content p {
  letter-spacing: 0.0625rem;
  margin-bottom: 3rem;
}

section.future {
  padding: 18rem 9rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.75rem;
  background-image: url("./images/illustration-editor-desktop.svg");
  background-position: 150% center;
  background-repeat: no-repeat;
}

section.future h2 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  letter-spacing: 0;
  height: 18rem;
  margin-bottom: 6rem;
}

section.infrastructure {
  position: relative;
  background-color: #3f4164;
  background-image: url("./images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: -55% 90%;
  color: white;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
}

section.infrastructure div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7rem 0;
}

section.infrastructure div.content h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

section.infrastructure div.content p {
  letter-spacing: 0.0625rem;
  padding-right: 9rem;
  margin-bottom: 0;
}

section.infrastructure div.illustration {
  position: absolute;
  top: -4.5rem;
  left: 6rem;
}

section.tooling {
  background-image: url("./images/illustration-laptop-desktop.svg");
  background-position: -62% center;
  background-repeat: no-repeat;
  padding: 18rem 3rem;
}

footer {
  background-color: #25252d;
  color: #c8c8cb;
  padding: 3rem 9rem;
  border-top-right-radius: 6rem;
  font-family: 'Ubuntu', sans-serif;
}

footer nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
}

footer nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  line-height: 2rem;
}

footer nav div h3 {
  color: white;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

footer nav div a {
  font-weight: 300;
  letter-spacing: 0;
}

footer nav div a:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer .attribution {
  margin-top: 3rem;
  font-size: 0.75rem;
  text-align: center;
}

footer .attribution a {
  color: #ff8f70;
  text-decoration: none;
}

footer .attribution a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=index.css.map */