@import 'sass/resets';
@import 'sass/variables';
@import 'sass/mixins';
@import 'sass/button';
@import 'sass/header';
@import 'sass/footer';
@import 'sass/nav';

body {
  background: $white;
  color: $body-copy;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
}

section {
  background-color: $white;
  line-height: 1.75rem;

  div.content {
    @media(max-width: 1023px) {
      text-align: center;
    }

    h3 {
      @include wide-letter;
      color: $headings;
      font-size: 2rem;
      line-height: 2.25rem;
      margin-bottom: 2rem;

      @media(max-width: 1023px) {
        font-size: 2rem;
        line-height: 2.25rem;
        margin-bottom: 2rem;
      }
    }

    p {
      @include wide-letter;
      margin-bottom: 3rem;

      @media(max-width: 1023px) {
        padding: 0 1rem;
      }
    }
  }
}

section.future {
  @include four-column-grid;
  grid-template-rows: repeat(3, auto);
  line-height: 1.75rem;
  background-image: url('./images/illustration-editor-desktop.svg');
  background-size: 60%;
  background-position: 150% center;
  background-repeat: no-repeat;
  padding: 4rem 0;

  @media(max-width: 1023px) {
    display: flex;
    flex-flow: column nowrap;
    background-image: none;
    margin-bottom: 18rem;
  }

  h2 {
    grid-column: 1 / 5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 3.25rem;
    letter-spacing: 0;
    height: 12rem;
    text-align: center;
    width: 100%;
    color: $headings;

    @media(max-width: 1023px) {
      order: 1;
      font-size: 1.75rem;
      height: auto;
      padding-top: 6rem;
      padding-bottom: 2rem;
    }
  }

  div.content {
    grid-column: 2;

    p:last-child {
      margin-bottom: 0;
    }

    @media(max-width: 1023px) {
      order: 3;
      padding-top: 2rem;
    }
  }

  div.illustration {
    order: 2;

    img {
      display: none;

      @media(max-width: 1023px) {
        display: block;
        width: 100%;

      }
    }
  }

  div.future-bottom {
    grid-column: 1 / 5;
    grid-row: 3;
    height: 12rem;

    @media(max-width: 1023px) {
      display: none;
    }
  }
}

section.infrastructure {
  @include four-column-grid;
  grid-template-rows: repeat(1, auto);
  position: relative;
  background-color: $body-bg-dark;
  background-image: url('./images/bg-pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: -55% 90%;
  color: $white;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;

  @media(max-width: 1023px) {
    min-height: 36rem;
    background-size: 160%;
    background-position: center -15.5rem;
    display: flex;
    flex-flow: column nowrap;
  }

  div.content {
    grid-column: 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 7rem 0;

    @media(max-width: 1023px) {
      margin: 0;
      align-self: flex-end;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem;

      @media(max-width: 1023px) {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }

    p {
      @include wide-letter;
      padding-right: 9rem;
      margin-bottom: 0;

      @media(max-width: 1023px) {
        padding: 0 2rem;
      }
    }
  }

  div.illustration {
    position: absolute;
    top: -4.5rem;
    left: 6rem;

    img {
      max-width: calc(100% - 8rem);
    }

    @media(max-width: 1023px) {
      top: -40%;
      left: 0;
      width: 100%;
      text-align: center;

      img {
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }
}

section.tooling {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: 9rem 1fr 1fr 9rem;
  background-image: url('./images/illustration-laptop-desktop.svg');
  background-size: 70%;
  background-position: -65% 35%;
  background-repeat: no-repeat;
  padding: 17rem 3rem;

  div.content {
    grid-column: 3;
  }

  @media(max-width: 1023px) {
    display: flex;
    flex-flow: column nowrap;
    background-image: none;
    padding: 3rem 0;

    div.content {
      padding-top: 3rem;

      p {
        padding: 0 2rem;
      }
    }
  }

  div.illustration {
    width: 100%;
    overflow: hidden;

    img {
      display: none;

      @media(max-width: 1023px) {
        display: block;
        width: calc(100% + 8rem);
        transform: translateX(-4rem);
      }
    }
  }
}
