@import 'sass/resets';
@import 'sass/variables';
@import 'sass/mixins';
@import 'sass/button';
@import 'sass/header';
@import 'sass/footer';
@import 'sass/nav';

body {
  background: $white;
  color: $body-copy;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
}

.two-halves {
  display: flex;
  flex-flow: row nowrap;

  @media(max-width: 767px) {
    flex-flow: column-reverse nowrap;
  }

  div {
    flex: 1;
  }
}

section {
  background-color: $white;
  line-height: 1.75rem;

  div.content {
    @media(max-width: 767px) {
      text-align: center;
    }

    h3 {
      @include wide-letter;
      color: $headings;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;

      @media(max-width: 767px) {
        font-size: 2rem;
        line-height: 2.25rem;
        margin-bottom: 2rem;
      }
    }

    p {
      @include wide-letter;
      margin-bottom: 3rem;

      @media(max-width: 767px) {
        padding: 0 1rem;
      }
    }
  }
}

section.future {
  @include whitespace;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  line-height: 1.75rem;
  background-image: url('./images/illustration-editor-desktop.svg');
  background-position: 150% center;
  background-repeat: no-repeat;

  @media(max-width: 767px) {
    background-image: none;
  }

  h2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: 0;
    height: 18rem;
    text-align: center;
    width: 100%;

    @media(max-width: 767px) {
      font-size: 1.75rem;
    }
  }

  div.illustration {
    img {
      display: none;

      @media(max-width: 767px) {
        display: block;
        width: 100%;
        margin-bottom: 3rem;
      }
    }
  }
}

section.infrastructure {
  position: relative;
  background-color: $body-bg-dark;
  background-image: url('./images/bg-pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: -55% 90%;
  color: $white;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;

  @media(max-width: 767px) {
    background-size: 160%;
    background-position: center -15.5rem;
  }

  div.content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 7rem 0;

    @media(max-width: 767px) {
      margin: 13rem 0 6rem 0;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem;

      @media(max-width: 767px) {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }

    p {
      @include wide-letter;
      padding-right: 9rem;
      margin-bottom: 0;

      @media(max-width: 767px) {
        padding: 0 2rem;
      }
    }
  }

  div.illustration {
    position: absolute;
    top: -4.5rem;
    left: 6rem;

    @media(max-width: 767px) {
      top: -12rem;
      left: 0;

      img {
        width: 100%;
      }
    }
  }
}

section.tooling {
  background-image: url('./images/illustration-laptop-desktop.svg');
  background-position: -62% center;
  background-repeat: no-repeat;
  padding: 18rem 3rem;

  @media(max-width: 767px) {
    padding: 3rem 0;

    &.two-halves {
      flex-flow: column nowrap;
    }

    div.content {
      padding-top: 3rem;

      p {
        padding: 0 2rem;
      }
    }

  }

  div.illustration {
    width: 100%;
    overflow: hidden;

    img {
      display: none;

      @media(max-width: 767px) {
        display: block;
        width: calc(100% + 8rem);
        transform: translateX(-4rem);
      }
    }
  }
}
